<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.hrismavill_connection"
            connectionString="Data Source=EWCENIZA\SQLSERV17;Initial Catalog=hris_mavill;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>