@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <nav class="my-2 my-md-0 mr-md-3">
            <a>
                @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </a>
            <a><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></a>
        </nav>
    }
}
else
{
    <nav class="my-2 my-md-0 mr-md-3">
        <a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-primary", id = "registerLink" })</a>
        <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-primary", id = "loginLink" })</a>
    </nav>
}
